@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Old Standard TT', serif;
  list-style: none;
  text-decoration: none; }

ul li {
  color: black;
  font-size: 20px; }

h1 {
  color: black; }

header {
  padding: 10px 10px 10px 0px;
  background-color: #9DC08B;
  display: flex;
  justify-content: space-between;
  color: black; }
  header .abrir-menu,
  header .cerrar-menu {
    display: none; }
  header ul {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: center;
    gap: 20px; }

.card {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center;
  gap: 0px; }
  .card a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: start;
    gap: 0px; }
    .card a img {
      border-radius: 20%; }
  .card .descripcion {
    font-weight: bold;
    font-size: large; }

body {
  background-color: #EDF1D6; }

section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  gap: 0px;
  margin-top: 30px;
  margin-bottom: 30px; }

.categorias {
  display: grid;
  grid-template-rows: 2fr;
  grid-template-areas: "titulo  " "categorias"; }
  .categorias .tituloProductos {
    grid-area: "titulo";
    display: flex;
    justify-content: center; }
  .categorias .conteinerCategorias {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: start;
    gap: 30px; }
    .categorias .conteinerCategorias .card a img {
      grid-area: "categorias";
      margin-top: 20px;
      max-height: 200px; }
    .categorias .conteinerCategorias .card a img:hover {
      animation: shadow-drop-2-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.55); } }

.producto {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  gap: 0px; }
  .producto .imagen {
    width: 50%; }
    .producto .imagen img {
      border-radius: 20px;
      width: 25%; }
  .producto .infoProducto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-items: center;
    gap: 30px; }
    .producto .infoProducto h2 {
      padding-bottom: 200px; }
    .producto .infoProducto .comprar {
      padding: 30px;
      background-color: #9DC08B;
      border-radius: 20px;
      color: black; }
    .producto .infoProducto .comprar:hover {
      background-color: #EDF1D6;
      border: solid #9DC08B; }

.productos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-template-areas: "titulo" "productos"; }
  .productos .tituloProductos {
    grid-area: "titulo";
    display: flex;
    justify-content: center; }
  .productos .contenedor {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 0px; }
    .productos .contenedor .card a img {
      width: 25%; }
    .productos .contenedor .card a img:hover {
      animation: shadow-drop-2-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.55); } }

.blog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 100px; }
  .blog article {
    width: 50%;
    margin: 10px; }
    .blog article img {
      margin: 20px;
      width: 50%; }

.contacto {
  height: 100vh; }
  .contacto form {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-items: center;
    gap: 10px; }
    .contacto form h2 {
      padding-bottom: 20px; }
    .contacto form button {
      background-color: #9DC08B;
      border-radius: 20px;
      padding: 20px;
      cursor: pointer; }
    .contacto form button:hover {
      background-color: #EDF1D6;
      border: solid #9DC08B; }

@media (max-width: 1182px) {
  section .slider img {
    max-width: 900px; } }

@media (max-width: 1024px) {
  section .slider img {
    max-width: 900px; }
  .categorias .conteinerCategorias .card a img {
    max-width: 150px; } }

@media (max-width: 768px) {
  header .abrir-menu,
  header .cerrar-menu {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer; }
  .abrir-menu {
    color: black; }
  .cerrar-menu {
    color: #EDF1D6; }
  .nav.visible {
    opacity: 1;
    visibility: visible; }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #40513B;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); }
  .nav-list {
    flex-direction: column;
    align-items: end;
    padding: 2rem; }
    .nav-list a li {
      color: #EDF1D6; }
  ul li {
    font-size: 16px; }
  section .slider img {
    max-width: 400px; }
  .categorias .conteinerCategorias .card a img {
    max-width: 100px; } }

@media (max-width: 508px) {
  h1 {
    font-size: medium; }
  h2 {
    font-size: medium; }
  span {
    font-size: small; }
  .card .descripcion {
    font-size: small; }
  ul li {
    font-size: 12px; }
  section .slider img {
    max-width: 250px; }
  .categorias .conteinerCategorias .card a img {
    max-width: 50px; } }

footer {
  display: flex;
  padding: 10px 10px 10px 10px;
  justify-content: space-between;
  background-color: #609966; }
