body{
    background-color: $background-color;
    
}
section{
    @include flex(row, no-wrap, center, center, 0px);
    margin-top: 30px;
    margin-bottom: 30px;
}
.categorias{
    display: grid;
    grid-template-rows: 2fr;
    grid-template-areas: 
    "titulo  "
    "categorias"
    ;
    .tituloProductos{
        grid-area: "titulo";
        display: flex;
        justify-content: center;
        
    }
    .conteinerCategorias{
        
        
        
        @include flex(row, no-wrap, space-around, start, 30px);
        .card{
            
            a{
                img{
                    
                    grid-area: "categorias";
                    margin-top: 20px;
                    max-height: 200px;
                }
                img:hover{
                    animation: shadow-drop-2-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                }
            }
        }
        
    }
}
@keyframes shadow-drop-2-center {
    0% {
      transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateZ(50px);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.55);
    }
}




