.producto{
    height: 100vh;
    @include flex(row, no-wrap, center, center, 0px);
    .imagen{
        width: 50%;
        img{
            border-radius: 20px;
            width: 25%;
        }
    }
    .infoProducto{

        h2{
            padding-bottom: 200px;
        }
        @include flex (column, no-wrap, center, center, 30px);
        .comprar{
            padding: 30px;
            background-color: $color-verde-suave;
            border-radius: 20px;
            color: black;
            
        }
        .comprar:hover{
            background-color: $background-color;
            border: solid $color-verde-suave;
        }
    }
}