.blog {
    @include flex (column, nowrap, center, center, 100px);
    article{
        width: 50%;
        margin: 10px;
        
        img{
            margin: 20px;
            width: 50%;
        }
    }
    
   
    
}