@media (max-width:1182px) {
    section{
        .slider{
            img{
                max-width: 900px;
            }
            
        }
    }
    
}
@media (max-width:1024px) {
    section{
        .slider{
            img{
                max-width: 900px;
            }
            
        }
    }
    .categorias{
        .conteinerCategorias{
            .card{
                a{
                    img{
                        max-width: 150px;
                    }
                }
            }
        }
    }
}
@media (max-width:768px) {
    header{
        .abrir-menu,
        .cerrar-menu{
            display: block;
            border: 0;
            font-size: 2rem;
            background-color: transparent;
            cursor: pointer;
        }
    }
    .abrir-menu{
        color: black;
    }
    .cerrar-menu{
        color: $background-color;
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #40513B;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);

    }
    .nav-list{
        flex-direction: column;
        align-items: end;
        
        
        padding: 2rem;
        
        
        a{
            li{
                color: $background-color;
            }
        }
        
    }


    ul{
        li{
            font-size: 16px;
        }
    }
    section{
        .slider{
            img{
                max-width: 400px;
            }
            
        }
    }
    .categorias{
        .conteinerCategorias{
            .card{
                a{
                    img{
                        max-width: 100px;
                    }
                }
            }
        }
    }
}
@media (max-width:508px) {
    h1{
        font-size: medium;
    }
    h2{
        font-size: medium;
    }
    span{
        font-size: small;
    }
    .card{
        .descripcion{
            font-size: small;
        }
    }
    ul{
        li{
            font-size: 12px;
        }
    }
    section{
        .slider{
            img{
                max-width: 250px;
            }
            
        }
    }
    .categorias{
        .conteinerCategorias{
            .card{
                a{
                    img{
                        max-width: 50px;
                    }
                }
            }
        }
    }
}